@model SocialMediaReader.Models.SocialMedia.Facebook.postss
@{
    ViewBag.Title = "Facebook User Likes";
}

<h2>Facebook User Likes</h2>

@*<p>@Html.Raw(ViewBag.JSON)</p>*@

<div class="panel-group">
    <div class="panel-heading">Things liked on Facebook by <b>@Model.name</b></div>
    <div class="panel-body">

        @if (!String.IsNullOrEmpty(Model.birthday))
        {
            <div>Born: @Model.birthday</div>
        }
        @if (@Model.id != null)
        {
            <p>FB ID: @Model.id</p>
        }

    </div>
</div>

<div class="panel-group">

    @foreach (var like in Model.likes.data)
    {
        <div class="panel-heading"></div>
        <div class="panel-body">

            @if (!String.IsNullOrEmpty(like.name))
            {
                <div><b>@like.name</b></div>
            }
            @if (like.id != null)
            {
                <div>Like id: @like.id</div>
            }
            @if (like.createdtime != null)
            {
                <div>Date Liked: @like.createdtime</div>
            }
        </div>
      
    }

</div>

